<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>stocks app</title>
</head>
<body>
  <h2>welcome</h2>
  <% if @last_trade != "" %>
  <p>last trade: <%= @last_trade  %></p>
  <% end %>
</body>
</html>