
<h2>please give me money</h2>

<form action="/thank_you" method="get">
  <label for="email">email</label>
  <input type="text" id="email" name="email">

  <label for="amount">amount</label>
  <input type="text" id="amount" name="amount">

  <button>donate kidney to save dolphin</button>
</form>
