    <div class="ui-card">
      <header class="content card-header">
        <div class="right">{{ Type }}</div>
        <img class="avatar" src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800%C3%97800&w=800&h=800" alt=""> DT
      </header>

      <div class="image">
        <img class="" src="{{ Poster }}" alt="">
        <span class="star">
          <span class="word">like</span> 
          &#9733;
        </span>
      </div>

      <div class="content">
        <h2>{{ Title }}</h2>
        <h4>{{ Year }}</h4>
      </div>

      <div class="content">
        <span class="right">500 stars</span>
        by DT
      </div>

    </div>